{% extends "base.html" %}
{% load static %}

{% block title %} 수소차 충전정보 {% endblock %}

{% block content %}
<style>

p {
font-size: 1rem;

  }

dl{
  font-size: 1.2rem;
  border: dotted lightgreen;
  width: 350px;
  height:380px;
  text-align:left;

}
table
{
    border-collapse: collapse;
    width: 100%;
}
th, td
{
    text-align: left;
    padding: 8px;
}
tr:nth-child(even)
{
    background-color: #f2f2f2;
}
th
{
    background-color: #4CAF50;
    color: white;
}



</style>

       <div style="padding-left: 10px;">
       <h3 style="line-height:3;"> ● 경기도 수소충전소 위치</h3>

           <img align="right" src="{% static 'img/baselocation.png' %}" alt="image" width="624" height="470" />

           <dl>
			 <li > H수원영통 저장식복합 </li>
			 <li > 안산 수소e로움 충전 </li>
			 <li > 안성 수소충전소</li>
			 <li > 안성휴게소(부산) 수소충전소</li>
			 <li > 안성휴게소(서울) 수소충전소</li>
			 <li > 여주휴게소(강릉) 수소충전소</li>
			 <li > 평택 블루에너지 수소</li>
			 <li > 하남드림 수소충전소</li>
			 <li > 하이넷 평택팽성 수소충전소</li>
			 <li > 하이넷 화성동탄 수소충전소</li>
              <p style="line-height:2;">  total 10개 충전소 운영중</p>
		    </dl>

       </div>

        <BR CLEAR=ALL>
        <h3 style="line-height:3;" > ● 수소의 안전성</h3>
        <p>수소는 이미 다양한 분야에서 오랜 기간 동안 안전하게 사용되어 온 만큼 일상생활에서 흔히 쓰이는 천연가스,가솔린 등의<br>
            가연성 연료와 비교하더라도 대등한 수준의 안정성이 확보되어 있습니다. 안전한 수소의 사용을 위해 ISO(국제 표준 위원회)에서는 <br>
            국제 안전 표준을 제정하고 있으며, 수소산업 전반에서는 안전성 검사를 통해 수소의 성질과 특징을 바탕으로 한 안전기술과<br>
            사회제도를 계속적으로 확립하고 있습니다.</p>


      <h3 style="line-height:3;">● 차량 연료별 연비 비교</h3>

       <table class="mono_table">
       <thead>
        <tr>
        <th>항목</th>
        <th>연비</th>
        <th>열량당 연비 </th>
       <th>100km 연료비 </th>
		</tr>
    </thead>
       <tbody>
         <tr class="active-row">
        <td>수소(원/kg)</td>
        <td>96.2km</td>
        <td>3.35</td>
        <td>7,880</td>

         <tr class="active-row">
            <td>LPG(원/ℓ)</td>
           <td> 8.77km </td>
           <td>1.43</td>
           <td>9,290</td>
         </tr>
          <tr class="active-row">
            <td>휘발유(원/ℓ)</td>
            <td>11.44km</td>
           <td>1.46</td>
            <td>12,870</td>
         </tr>
          <tr class="active-row">
            <td>경유(원/ℓ)</td>
            <td>12.83km</td>
           <td>1.42</td>
            <td>10,450</td>
         </tr>
    </tbody>
</table>

       <p> ※ 참고 <br>
       수소 완충전 시 주행거리 : 609km<br>
       충전시간 : 3분~10분소요 </p><br>



{% endblock %}
{% block footer %}
{% endblock %}
