{% extends "base.html" %}

{% block title %} H_point home {% endblock %}

{% block content %}
{% load static %}




	<div class="content-top-title">
		<h1 class="mapoflower">수소 소개</h1>
	</div>
				<h1>수소란?</h1>
				<p>수소는 원자번호 1번, 원소기호 H의 원자입니다. 색, 맛, 냄새가 거의 없으며, 아주 가볍기 때문에 멀리 확산해나가는 특징을 가지며
					연소하더라도 공해 물질을 내뿜지 않아 석탄, 석유를 대체할 무공해 에너지원으로써 중시되고 있습니다.</p>
				<p>수소에너지는 무한정인 물 또는 유기물질을 변환하는 방법을 통해 수소를 생산하여 활용하는 기술로 가스나 액체로 수송할 수 있고,
					고압가스, 액체수소, 금속수소화물 등의 다양한 형태로 저장이 가능합니다.</p>
                 <img src="http://www.konfa.or.kr/theme/a01/img/content2-1/title-after.png" alt="이미지">
		         <h1 class="mapoflower">수소 충전시스템</h1>
                <p>천연가스를 개질하여 수소를 충전하는 방식으로 천연가스를 수송용 트레일러로 이동하여 개질하는 방식과 도시가스 배관을 통한 천연가스 개질 방식이 있습니다.</p>
	            <h1>고정식 수소충전 시스템</h1>
	            <img src="http://www.konfa.or.kr/theme/a01/img/content2-1/pc-s2-route.png" alt="이미지" class="pc-img">
	            <h1>이동식 수소충전시스템</h1>
	            <img src="http://www.konfa.or.kr/theme/a01/img/content2-1/pc-s2-route2.png" alt="이미지" class="pc-img">
	           <script src="http://www.konfa.or.kr/theme/a01/js/css3-animate-it.js"></script>
              <img src="http://www.konfa.or.kr/theme/a01/img/title-after2.png" alt="이미지">

           <h1 class="mapoflower">수소자동차</h1>
          <p>수소전기차(FCEV)는 차량에 저장된 수소와 대기 중의 공기의 결합으로 생성된 전기로 운행이 되는 100% 무공해 차량으로 전기 생성 과정 중
           배출하는것은 순수한 물(H20)뿐입니다. 전기를 만드는 과정에서 대기 중에 있는 초미세 먼지 (PM2.5)를 99.9% 이상 제거하는 기능이 있어
          ‘달리는 공기청정기’로 불리기도 합니다.</p>
					<p><span class="car-check-img"><img src="http://www.konfa.or.kr/theme/a01/img/content2-2/check.png" alt="이미지"></span><span class="car-check-txt">FCEV 1대 당 연간 성인 2명이 마시는 공기 정화</span>
						</p>
					<p><span class="car-check-img"><img src="http://www.konfa.or.kr/theme/a01/img/content2-2/check.png" alt="이미지"></span><span class="car-check-txt">1회 충전 시 500km 이상 주행</span>
						</p>
					<p><span class="car-check-img"><img src="http://www.konfa.or.kr/theme/a01/img/content2-2/check.png" alt="이미지"></span><span class="car-check-txt">3~5분대 짧은 충전시간</span></p>
					<p><span class="car-check-img"><img src="http://www.konfa.or.kr/theme/a01/img/content2-2/check.png" alt="이미지"></span><span class="car-check-txt">상용 전원 발전기로 활용</span></p>
		<div class="content-top-title">
			<img src="http://www.konfa.or.kr/theme/a01/img/title-after2.png" alt="이미지">
			<h1 class="mapoflower">차이점</h1>
		</div>
                 <p>수소전기차는 수소저장 탱크에서 공급한 수소를 직접 태워서 에너지를 발생시키는 것이 아니라 수소와 공기 중 산소의 전기화학반응을 통해
                 전기를 생성하고 생성된 전기로 모터를 돌려 동력을 발생시키는 원리입니다. 부산물로 물을 배출하며 전기모터 구동으로 소음이 적습니다.</p>
					<p><span>예비 전력원</span><br>
						활용 가능
					</p>
                    <p>오염 배출 <span>ZERO</span>
					</p>
                    <p><span>500 ~ 600km</span> 이상<br>
					긴 주행거리
					</p>
				<img src="http://www.konfa.or.kr/theme/a01/img/title-after2.png" alt="이미지">
				<h1 class="mapoflower">안정성</h1>
				<p>700bar의 고압으로 압축시킨 수소를 저장한 수소전기차의 수소탱크는위험할지도 모른다는 오해를 받곤합니다.
                하지만 수소전기차에 사용되는 수소는 일반적인 ‘수소분자’입니다.<br>
                삼중수소와 중수소 등이 1억 도의 온도와 수천 기압의 압력 하에서 핵융합 반응을 일으켜야 하는 수소폭탄과는 다릅니다.</p>
		    <img src="http://www.konfa.or.kr/theme/a01/img/title-after2.png" alt="이미지">
		    <h1 class="mapoflower">연료가격정보</h1>
            <div class="container">
			<h3 class="s1-subtitle con-subtitle">국내 차량용 연료가격 정보</h3>
			<p class="table-year"><span>(21년 02월기준)</span></p>
			<table class="con-table s1-table">
				<tr>
					<th>구분</th>
					<th>연료비(원)</th>
				</tr>
				<tr>
					<td>CNG(원/MJ)</td>
					<td>15.6792</td>
				</tr>
				<tr>
					<td>CNG(원/N㎥)</td>
					<td>667.20</td>
				</tr>
				<tr>
					<td>휘발유(원/ℓ)</td>
					<td>1,455.90</td>
				</tr>
				<tr>
					<td>경유(원/ℓ)</td>
					<td>1,256.15</td>
				</tr>
				<tr>
					<td>LPG(원/ℓ)</td>
					<td>848.09</td>
				</tr>
				<tr>
					<td>수소(원/kg)</td>
					<td>8,800</td>
				</tr>
				<tr class="point">
					<td>CNG 기준열량(N㎥/MJ)</td>
					<td>42.553</td>
				</tr>
			</table>
			<p class="table-source"><span>출처 : 전국도시가스, 석유정보망 (http://www.petronet.co.kr)</span></p>
		</div>
               <img src="http://www.konfa.or.kr/theme/a01/img/title-after2.png" alt="이미지">
				<h1 class="mapoflower">수소 연료 요금 구조</h1>
				<p>수소연료의 가격은 소비자 가격, 공급자 가격, 시장가격으로 구성됩니다.<br>
					수소충전소 및 튜브 용량 증가, 정부지원 확대, 수소연료의 대량·일괄 구매 방식 도입 등으로 추가적인 가격의 하락이 가능할 것입니다.</p>

					<h3>소비자 가격</h3>
					<p>내압용기에 기체상태의 천연가스를 200~250bar로 압축하여 엔진연료로 쓰는 방식으로 대부분의 천연가스 자동차가 사용하는 방식</p>

					<h3>공급자 가격<br><span>(제조가격+공급가격+판매가격)</span></h3>
					<p>천연가스를 –162℃에서 액화한 천연가스 (LNG)를 초저온 단열용기에 담아 연료로 사용하는 방식</p>


					<h3>시장 가격</h3>
					<p>활성탄 같은 흡착제에 천연가스를 30~60kg/㎠ 가압 저장하여 사용하는 방식</p>

					<img src="http://www.konfa.or.kr/theme/a01/img/content2-3/s2-icon-img01.png" alt="이미지">
					<p>내압용기에 기체상태의 천연가스를 200~250bar로 압축하여 엔진연료로 쓰는 방식으로 대부분의 천연가스 자동차가 사용하는 방식</p>

					<img src="http://www.konfa.or.kr/theme/a01/img/content2-3/s2-icon-img02.png" alt="이미지">
                    <p>천연가스를 –162℃에서 액화한 천연가스 (LNG)를 초저온 단열용기에 담아 연료로 사용하는 방식</p>


					<img src="http://www.konfa.or.kr/theme/a01/img/content2-3/s2-icon-img03.png" alt="이미지">
						<p>활성탄 같은 흡착제에 천연가스를 30~60kg/㎠ 가압 저장하여 사용하는 방식</p>

					<script src="http://www.konfa.or.kr/theme/a01/js/css3-animate-it.js"></script>

		 <img src="http://www.konfa.or.kr/theme/a01/img/title-after2.png" alt="이미지">
		 <h1 class="mapoflower">보급지원정책</h1>


<h3 class="s1-subtitle con-subtitle hy-s1-subtitle">수소 자동차 보급지원 정책</h3>

<table class="mono_table">
	<tbody>

	<td scope="row">
	<h3>자동차사업자</h3>
		<p class="con-txt1"><span>구매보조금 지원(국고/지방비 각50%)</span></p>
		<p class="con-list">
			<i class="fa fa-check-circle-o" aria-hidden="true"></i>(버스) 대형 1,200만원/대, 소형 700만원/대, 하이브리드
			6,000만원/대<br>
			(청소차) 대형(11톤) 4,200만원/대, 중형(5톤)
			2,700만원/대<br>
			(트럭) 콘크리트 믹서트럭 4,000만원/대
		</p>
		<p class="souce-gas"><span>출처 : 환경부</span></p>
		<p class="con-txt1"><span>유가보조금 지원(국토교통부)</span></p>
		<p class="con-list">
			<i class="fa fa-check-circle-o" aria-hidden="true"></i>노선버스(과세액 전액 지원) ㎥당 63.29원<br>
			전세버스(과세액의 50% 지원) ㎥당 31.65원
		</p>
		<p class="con-txt-bottom">시내 및 마을버스 운송사업용 천연가스버스 부가가치세 면제(‘21.12.31)
			천연가스 버스 취득세(3.4%) 감면</p>
			<p class="souce-gas"><span>출처 : 국토교통부</span></p>
		</td>

	<td scope="row"> <h3>충전사업자</h3>
		<p class="con-list">
			<i class="fa fa-check-circle-o" aria-hidden="true"></i>충전소 설치를 위한 투자비의 3% 법인세 감면<br>
			충전소 설치 융자금 보조 - 충전소(고정식) : 사업자별 최대 30억원 / 5년 거치 10년 분할상환(19년 4분기 기준 1.25%)<br>
			천연가스버스 대수가 기준대수 이하일 경우 지원 기준 : 100대/일 미만 22대 100~199대/일 31대, 200대/일 이상 80대</p>
		<h3>승용차</h3>
		<p class="con-list">
			<i class="fa fa-check-circle-o" aria-hidden="true"></i>넥쏘 약3500만원 구매보조금 지원<br>
			※ 2,250만원(정부), 약1250만(지자체- 지역 별 상이)<br>
			(세제) 부가세 100% 면제, 취득세 50% 감면<br>
			공영주차장, 고속도로 통행료 할인
			</p>
			</td>
	</tbody>
     </table>
{% endblock %}
{% block footer %}
{% endblock %}
</html>