{% extends "base.html" %}

{% block title %} 지자체 문의처 {% endblock %}

{% block content %}
	<style>
h3{
font-family:"NamunGothic;
font-size: 20px;
background: url(/portal/_images/sub/h3_blit_bar.jpg) no-repeat left center;
padding: 10px 0 10px 20px;
color: #232323;
margin-bottom: 10px;
}
.table_02_2_1{ width:100%;}
.table_02_2_1 thead th{font-family:"돋움",dotum,Helvetica,sans-serif; text-align:center; font-size:12px; padding:10px 0; border-bottom:1px solid #d5d5d5; border-top:2px solid #555; background:#fafafa;}
.table_02_2_1 thead th{font-family:"돋움",dotum,Helvetica,sans-serif; border-right:1px solid #e5e5e5;}
.table_02_2_1 thead th:last-child{border-right:none;}
.table_02_2_1 tbody th{font-family:"돋움",dotum,Helvetica,sans-serif; text-align:center; font-size:12px; padding:10px 0; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5;background:#fafafa;}
.table_02_2_1 tbody td{font-family:"돋움",dotum,Helvetica,sans-serif; text-align:center; font-size:12px;height:20px; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5; padding:5px 5px;  color:#666;}
.table_02_2_1 tbody td:last-child{ border-right:none;}
.table_02_2_1 tbody th:first-child{border-right:1px solid #e5e5e5;}
</style>
<body>
	<!--컨텐츠 영역-->
	<h3>2021년도 수소연료전지차 지자체 연락처</h3>
		<table class="table_02_2_1">
			<colgroup>
				<col width="5%" />
				<col width="20%" />
				<col width="20%" />
				<col width="20%" />
				<col width="*" />
				<col />
			</colgroup>
			<thead>
				<tr>
					<th>시도</th>
					<th>지역구분</th>
					<th>부서</th>
					<th>연락처</th>
					<th>연락처 기타</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<th>서울</th>
					<th>서울특별시</th>
					<td>기후변화대응과</td>
					<td>02-2133-3607</td>
					<td></td>
				</tr>

				<tr>
					<th>부산</th>
					<th>부산광역시</th>
					<td>제조혁신기반과</td>
					<td>051-888-4646</td>
					<td></td>
				</tr>

				<tr>
					<th>대구</th>
					<th>대구광역시</th>
					<td>미래형자동차과</td>
					<td>053-803-6373</td>
					<td>달구벌 콜센터 : 053-120</td>
				</tr>

				<tr>
					<th>인천</th>
					<th>인천광역시</th>
					<td>에너지정책과</td>
					<td>032-440-4349</td>
					<td></td>
				</tr>

				<tr>
					<th>광주</th>
					<th>광주광역시</th>
					<td>자동차산업과</td>
					<td>062-613-3923</td>
					<td></td>
				</tr>

				<tr>
					<th>대전</th>
					<th>대전광역시</th>
					<td>대전광역시 기반산업과</td>
					<td>042-270-0438</td>
					<td>대전광역시 기반산업과(042-270-0438, 0435)
	<br>현대자동차 대전충남지역본부(042-627-9070)</td>
				</tr>

				<tr>
					<th>울산</th>
					<th>울산광역시</th>
					<td>에너지산업과</td>
					<td>052-229-6484</td>
					<td></td>
				</tr>

				<tr>
					<th>세종</th>
					<th>세종특별자치시</th>
					<td>환경정책과</td>
					<td>044-300-4253</td>
					<td>세종시 민원콜센터 : 044-120</td>
				</tr>

				<tr>
					<th>경기</th>
					<th>수원시</th>
					<td>기후대기과</td>
					<td>031-228-2455</td>
					<td>수소전기차 구매를 원하시는 경우 자동차 구매계약을 선행하여야 하고 이후절차는 대리점에서 대행하므로 대리점으로 1차 문의 바랍니다.</td>
				</tr>

				<tr>
					<th>경기</th>
					<th>성남시</th>
					<td>기후에너지과</td>
					<td>031-729-3162</td>
					<td>대기환경팀 031-729-3162</td>
				</tr>

				<tr>
					<th>경기</th>
					<th>의정부시</th>
					<td>환경관리과</td>
					<td>031-828-4426</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>안양시</th>
					<td>기후대기과</td>
					<td>031-8045-2622</td>
					<td>○ 2021년도 수소차 민간보급 공고
	<br>- 총 97대
	<br>- 신청일시 : &apos;21.2.24.(수) 09:00~ 예산 소진시
	<br>
	<br>※ 자세한 사항은 공고문을 참고하시기 바랍니다</td>
				</tr>

				<tr>
					<th>경기</th>
					<th>부천시</th>
					<td>미세먼지대책담당관</td>
					<td>032-625-3156</td>
					<td>032-625-3156</td>
				</tr>

				<tr>
					<th>경기</th>
					<th>광명시</th>
					<td>기후에너지과</td>
					<td>02-2680-6487</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>평택시</th>
					<td>환경정책과 미세먼지대책팀</td>
					<td>031-8024-5000</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>안산시</th>
					<td>환경정책과</td>
					<td>031-481-2894</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>고양시</th>
					<td>녹색도시담당관</td>
					<td>031-909-9000</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>과천시</th>
					<td>환경위생과</td>
					<td>02-3677-2244</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>구리시</th>
					<td>환경과</td>
					<td>031-550-2756</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>남양주시</th>
					<td>기후에너지과</td>
					<td>031-590-2610</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>오산시</th>
					<td>환경과</td>
					<td>031-8036-6434</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>시흥시</th>
					<td>시흥시청 환경정책과</td>
					<td>031-310-5974</td>
					<td>시흥시청 환경정책과(031-310-3886, 5974)</td>
				</tr>

				<tr>
					<th>경기</th>
					<th>군포시</th>
					<td>환경과</td>
					<td>031-390-0413</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>의왕시</th>
					<td>환경과</td>
					<td>031-345-3805</td>
					<td>의왕시 환경과 기후환경팀 김성균(☎031-345-3805)
	<br>FAX: 031-345-3809
	<br>주소: 경기도 의왕시 왕송못동로 307, 2층 환경과(레솔레파크)</td>
				</tr>

				<tr>
					<th>경기</th>
					<th>하남시</th>
					<td>환경정책과</td>
					<td>031-790-5032</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>용인시</th>
					<td>기후에너지과</td>
					<td>031-324-3155</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>파주시</th>
					<td>환경보전과</td>
					<td>031-940-3794</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>이천시</th>
					<td>환경보호과</td>
					<td>031-644-2354</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>안성시</th>
					<td>안성시 환경과</td>
					<td>031-678-0743</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>김포시</th>
					<td>기후에너지과</td>
					<td>031-5186-4076</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>화성시</th>
					<td>화성시 기후환경과</td>
					<td>031-5189-6706</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>광주시</th>
					<td>환경정책과</td>
					<td>031-760-2858</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>양주시</th>
					<td>환경관리과</td>
					<td>031-8082-6341</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>여주시</th>
					<td>환경과</td>
					<td>031-887-2983</td>
					<td></td>
				</tr>

				<tr>
					<th>경기</th>
					<th>양평군</th>
					<td>환경과</td>
					<td>031-770-2256</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>춘천시</th>
					<td>기후에너지과</td>
					<td>033-250-3733</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>원주시</th>
					<td>기후에너지과</td>
					<td>033-737-3048</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>동해시</th>
					<td>환경과</td>
					<td>033-530-2152</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>속초시</th>
					<td>환경위생과</td>
					<td>033-639-2331</td>
					<td>노후경유차 조기폐차 보조금(신차 구매 지원금) 문의: 033-636-2743</td>
				</tr>

				<tr>
					<th>강원</th>
					<th>삼척시</th>
					<td>에너지정책과</td>
					<td>033-570-3750</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>홍천군</th>
					<td>환경과</td>
					<td>033-430-2621</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>횡성군</th>
					<td>환경관리과</td>
					<td>033-340-2432</td>
					<td>033-340-2432</td>
				</tr>

				<tr>
					<th>강원</th>
					<th>평창군</th>
					<td>환경위생과</td>
					<td>033-330-2369</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>철원군</th>
					<td>청정환경과</td>
					<td>033-450-4261</td>
					<td>철원군청 청정환경과 김현지주무관(033-450-4261)</td>
				</tr>

				<tr>
					<th>강원</th>
					<th>인제군</th>
					<td>환경보호과</td>
					<td>033-460-2061</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>고성군</th>
					<td>환경보호과</td>
					<td>033-680-3339</td>
					<td></td>
				</tr>

				<tr>
					<th>강원</th>
					<th>양양군</th>
					<td>경제에너지과</td>
					<td>033-670-2219</td>
					<td></td>
				</tr>

				<tr>
					<th>충북</th>
					<th>청주시</th>
					<td>청주시 기후대기과</td>
					<td>043-201-4982</td>
					<td>청주시 콜센터 043-201-0001, 청주시 기후대기과 043-201-4982</td>
				</tr>

				<tr>
					<th>충북</th>
					<th>충주시</th>
					<td>기후에너지과</td>
					<td>043-850-3681</td>
					<td></td>
				</tr>

				<tr>
					<th>충북</th>
					<th>제천시</th>
					<td>자연환경과</td>
					<td>043-641-6382</td>
					<td></td>
				</tr>

				<tr>
					<th>충북</th>
					<th>진천군</th>
					<td>진천군청 환경과</td>
					<td>043-539-3444</td>
					<td>진천군 환경과 환경기획팀  043-539-3444</td>
				</tr>

				<tr>
					<th>충북</th>
					<th>괴산군</th>
					<td>환경과</td>
					<td>043-830-3616</td>
					<td></td>
				</tr>

				<tr>
					<th>충북</th>
					<th>음성군</th>
					<td>환경과</td>
					<td>043-871-3794</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>천안시</th>
					<td>천안시 환경정책과</td>
					<td>041-521-5408</td>
					<td>천안시 콜센터 1422-36</td>
				</tr>

				<tr>
					<th>충남</th>
					<th>공주시</th>
					<td>환경보호과</td>
					<td>041-840-8578</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>보령시</th>
					<td>환경보호과</td>
					<td>041-930-3668</td>
					<td>환경보호과(041-930-3668)</td>
				</tr>

				<tr>
					<th>충남</th>
					<th>아산시</th>
					<td>기후변화대책과</td>
					<td>041-530-6255</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>서산시</th>
					<td>환경생태과</td>
					<td>041-660-3364</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>논산시</th>
					<td>환경과</td>
					<td>041-746-5693</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>계룡시</th>
					<td>환경위생과</td>
					<td>042-840-2452</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>당진시</th>
					<td>기후에너지과</td>
					<td>041-350-4071</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>금산군</th>
					<td>환경자원과</td>
					<td>041-750-2513</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>부여군</th>
					<td>환경과 기후대기팀</td>
					<td>041-830-2316</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>서천군</th>
					<td>환경보호과</td>
					<td>041-950-4333</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>청양군</th>
					<td>환경보호과</td>
					<td>041-940-4052</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>홍성군</th>
					<td>환경과</td>
					<td>041-630-1875</td>
					<td></td>
				</tr>

				<tr>
					<th>충남</th>
					<th>예산군</th>
					<td>예산군</td>
					<td>041-339-7536</td>
					<td>예산군청 환경과 미세먼지대응팀(041-339-7536)</td>
				</tr>

				<tr>
					<th>전북</th>
					<th>전주시</th>
					<td>수소경제탄소산업과</td>
					<td>063-281-2723</td>
					<td></td>
				</tr>

				<tr>
					<th>전북</th>
					<th>군산시</th>
					<td>환경정책과</td>
					<td>063-454-3393</td>
					<td></td>
				</tr>

				<tr>
					<th>전북</th>
					<th>익산시</th>
					<td>환경정책과</td>
					<td>063-859-4443</td>
					<td></td>
				</tr>

				<tr>
					<th>전북</th>
					<th>정읍시</th>
					<td>지역경제과</td>
					<td>063-539-5585</td>
					<td>정읍시 지역경제과 063-539-5585</td>
				</tr>

				<tr>
					<th>전북</th>
					<th>완주군</th>
					<td>일자리경제과</td>
					<td>063-290-2493</td>
					<td></td>
				</tr>

				<tr>
					<th>전북</th>
					<th>부안군</th>
					<td>신성장전략팀</td>
					<td>063-580-4600</td>
					<td>부안군청 미래전략담당관 신성장전략팀
	<br>063-580-4600</td>
				</tr>

				<tr>
					<th>전남</th>
					<th>여수시</th>
					<td>기후생태과</td>
					<td>061-659-3811</td>
					<td></td>
				</tr>

				<tr>
					<th>전남</th>
					<th>순천시</th>
					<td>생태환경과</td>
					<td>061-749-5768</td>
					<td></td>
				</tr>

				<tr>
					<th>전남</th>
					<th>나주시</th>
					<td>에너지신산업과</td>
					<td>061-339-8392</td>
					<td></td>
				</tr>

				<tr>
					<th>전남</th>
					<th>광양시</th>
					<td>환경과</td>
					<td>061-797-2793</td>
					<td></td>
				</tr>

				<tr>
					<th>전남</th>
					<th>고흥군</th>
					<td>환경산림과</td>
					<td>061-830-5330</td>
					<td></td>
				</tr>

				<tr>
					<th>전남</th>
					<th>무안군</th>
					<td>환경과</td>
					<td>061-450-5558</td>
					<td></td>
				</tr>

				<tr>
					<th>전남</th>
					<th>장성군</th>
					<td>환경위생과</td>
					<td>061-390-7330</td>
					<td></td>
				</tr>

				<tr>
					<th>경북</th>
					<th>김천시</th>
					<td>환경위생과</td>
					<td>054-420-6780</td>
					<td>기후변화대응팀</td>
				</tr>

				<tr>
					<th>경북</th>
					<th>성주군</th>
					<td>환경과</td>
					<td>054-930-6186</td>
					<td></td>
				</tr>

				<tr>
					<th>경남</th>
					<th>창원시</th>
					<td>창원시청 전략산업과</td>
					<td>055-225-3305</td>
					<td></td>
				</tr>

				<tr>
					<th>경남</th>
					<th>진주시</th>
					<td>진주시 환경관리과</td>
					<td>055-749-8639</td>
					<td></td>
				</tr>

				<tr>
					<th>경남</th>
					<th>통영시</th>
					<td>환경과</td>
					<td>055-650-5473</td>
					<td></td>
				</tr>

				<tr>
					<th>경남</th>
					<th>김해시</th>
					<td>기후대기과</td>
					<td>055-330-2453</td>
					<td>김해시청 기후대기과 기후변화팀 055-330-2453</td>
				</tr>

				<tr>
					<th>경남</th>
					<th>거제시</th>
					<td>환경과</td>
					<td>055-639-3963</td>
					<td></td>
				</tr>

				<tr>
					<th>경남</th>
					<th>양산시</th>
					<td>기후환경과</td>
					<td>055-392-2604</td>
					<td>다수의 통화 문의로 통화가 어려울 시 godeedee@korea.kr 메일로 문의 주시기 바랍니다.
	<br>!주의! 자격부여는 대상자 선정이 아니며,자격부여 후  [별지 제 2호서식] 보조금 지원가능 확인요청서(출고예정일이 포함된 전산화면 스캔)을 제출하셔야하며 출고예정일이 10일 내인것을 확인한 후 대상자 확정이 됩니다.</td>
				</tr>

				<tr>
					<th>경남</th>
					<th>의령군</th>
					<td>의령군청 환경위생과</td>
					<td>055-570-2604</td>
					<td></td>
				</tr>

				<tr>
					<th>경남</th>
					<th>함안군</th>
					<td>경제기업과</td>
					<td>055-580-2534</td>
					<td></td>
				</tr>

				<tr>
					<th>공단</th>
					<th>한국환경공단</th>
					<td>통합안내데스크</td>
					<td>1661-0970</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	<!--//컨텐츠 영역-->
{% endblock %}
</body>
{% block footer %}
{% endblock %}
</html>