{% extends "base.html" %}
{% block title %} 자료실 {% endblock %}
{% load static %}
{% block content %}

<style type="text/css">
   h3,h1 {
        font-family: Georgia;
        font-style: italic;
        padding: 10px;
 }

.inset {
        border-style: inset;
}

 p{    font-family: Georgia;
        font-style: normal;;
         padding: 10px;
}

a:link {
  color : black;
  text-decoration: none;
}
</style>

   <h1>  자료실</h1>
   <p> ※  pdf,hwp 파일은 행정기관 자료이며 다운로드 가능합니다.</p><br>



     <h3 class="inset"><a href="http://www.me.go.kr/home/file/readDownloadFile.do?fileId=191612&fileSeq=1">2020년 수소연료전지차 보급 및 충전소 설치사업 보조금 업무처리지침.pdf</a></h3>
     <h3 class="inset"><a href="http://www.me.go.kr/home/file/readDownloadFile.do?fileId=214924&fileSeq=1">적자 운영 수소충전소 12곳에 수소연료구입비 지원.hwp</a></h3>
     <h3 class="inset"><a href="http://www.me.go.kr/home/file/readDownloadFile.do?fileId=213610&fileSeq=1"> 액화석유가스 공급사와 손잡고 수도권 수소충전소 확대.hwp</a></h3>
     <h3 class="inset"><a href=" http://www.me.go.kr/home/file/readDownloadFile.do?fileId=216792&fileSeq=1">2050 탄소중립 위해 공공부문부터 전기·수소차 전환 선도.hwp</a></h3>
     <h3 class="inset"><a href="http://www.motie.go.kr/common/download.do?fid=bbs&bbs_cd_n=81&bbs_seq_n=163847&file_seq_n=1"> 수소차 운전자 안전교육 제도 개선.pdf</a></h3>
	 <h3 class="inset"><a href="http://www.motie.go.kr/common/download.do?fid=bbs&bbs_cd_n=81&bbs_seq_n=163842&file_seq_n=1"> (참고자료)친환경차의 충전・주차・사용 제도개선 본격 추진.pdf</a></h3>
     <h3 class="inset"><a href="http://www.motie.go.kr/common/download.do?fid=bbs&bbs_cd_n=6&bbs_seq_n=66686&file_seq_n=1">2021년 소규모 수소생산기지 구축사업 공고.pdf</a></h3>
     <h3 class="inset"><a href="http://www.motie.go.kr/common/download.do?fid=bbs&bbs_cd_n=81&bbs_seq_n=163933&file_seq_n=1">경기·경남·부산·울산·전북 5개 지역 수소도시선정…일자리 5.5만명 창출.pdf</a></h3>
     <br>




{% endblock %}
{% block footer %}

{% endblock %}
</html>