{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block content %}

<body>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <p>아이디</p>
            <input name="username" type="text">
            <p>비밀번호</p>
            <input name="password" type="password">
            <input type="submit" value="로그인">
        </form>
    <a href="{% url 'users:signup' %}">회원가입</a>
{% endblock %}
</body>
{% block footer %}
{% endblock %}
</html>