<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    회원가입 페이지
        <form action="" method="post">
            {% csrf_token %}
            <p>아이디</p>
            <input name="username" type="text">
            <p>비밀번호</p>
            <input name="password" type="password">
            <p>이메일</p>
            <input name="email" type="text">
            <p>핸드폰번호</p>
            <input name="phone_number" type="text">
            <p>성</p>
            <input name="firstname" type="text">
            <p>이름</p>
            <input name="lastname" type="text">
            <input name="username" type="submit" value="회원가입">
        </form>


</body>
</html>