{% extends "base.html" %}
{% block title %} answer_form{% endblock %}
{% block content %}
{% load static %}

<div style="padding-left: 20px;">

    <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="post-form">
        {% csrf_token %}
          <div class="alert alert-danger" role="alert">
         {% include "form_errors.html" %}
         <div class="form-group">

            <label for="content">답변내용</label>
            <textarea class="form-control" name="content" id="content" cols="60"
                      rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
          </div>
         </div>
          <button type="submit" >등록</button>
    </form>
</div>

{% endblock %}
{% block footer %}
{% endblock %}


