{% extends "base.html" %}
{% block title %} question_from {% endblock %}
{% block content %}
{% load static %}
<style>
#btn1{
  width: 70px;
  height: 30px;
  font-size:15px;
  font-family: 'Nanum Gothic';
  color: black;
  line-height:25px;
  text-align: center;
  background: white;
  border: solid 1px grey;
  border-radius:10px;
}
</style>
<div style="padding-left: 50px;">

    <h1 style="line-height:2;">질문등록</h1>
    <form method="post" >
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div>
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div style="line-height:3;">
            <label for="subject">제목</label>
            <input type="text"  name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
            <label for="content">내용</label>
            <textarea class="form-control" name="content" cols="60"
                      id="content" rows="20">{{ form.content.value|default_if_none:'' }}</textarea>
             <input id="btn1" type="submit" value="등록">
       </form>

</div><br>

{% endblock %}
{% block footer %}
</body>
{% endblock %}


