{% extends "base.html" %}
{% block title %} question_detail {% endblock %}
{% block content %}
{% load static %}
<style>

#btn1{
  width: 70px;
  height: 30px;
  font-size:15px;
  font-family: 'Nanum Gothic';
  color: black;
  line-height:25px;
  text-align: center;
  background: white;
  border: solid 1px grey;
  border-radius:10px;
}


</style>
<div style="padding-left: 50px;">

    <h1 style="line-height:3;"> 제목 {{ question.subject }}</h1>


      <div>
          <label style="line-height:3;" >내용 : </label>
           {{ question.content }}
          {{ question.create_date |date:'Y. m. d'}}
             </div>

<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
     <div>
         <ul>
         {% for answer in question.answer_set.all %}
                    <li>{{ answer.content }}</li>
              {{ answer.create_date|date:'Y. m. d' }}
         {% endfor %}
         </ul>
     </div>

   <form action="{% url 'pybo:answer_create' question.id %}" method="post" >
        {% csrf_token %}
       <textarea  cols="60" rows="10"type=text></textarea>
       <input id="btn1" type="submit" value="답변등록">
    </form>

</div><br>
{% endblock %}
{% block footer %}
</body>
{% endblock %}



